header {
    width: 100%;
    height: max-content;
    padding: 20px;

    background-color: black;  
    border: 2px solid gainsboro;  
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    margin: 0 40px;

    list-style: none;
}

header nav ul li a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

header nav ul li a:hover,
header nav ul li a.is-active {
    color: grey;
    font-weight: 500;
}